In [ ]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [ ]:
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [ ]:
pw= #senha

In [ ]:
connection = create_server_connection("localhost", "root", pw)

In [ ]:
def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully")
    except Error as err:
        print(f"Error: '{err}'")

In [ ]:
create_database_querry="CREATE DATABASE FIEC"
create_database(connection,create_database_querry)

In [ ]:
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [ ]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
        
    except Error as err:
        print(f"Error: '{err}'")
        
def execute_query2(connection, query):
    cursor = connection.cursor(buffered=True)
    try:
        cursor.execute(query)
        connection.commit()
        row=cursor.fetchone()
        print(row)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")

In [ ]:
query_criar_tabela_atracacao="""
CREATE TABLE atracacao2017 (
  id_atracacao INT,
  cdtup CHAR(80),
  idberco CHAR(80),
  berco CHAR(80),
  porto_atracacao VARCHAR(100),
  apelido_instalacao_portuaria CHAR(80),
  complexo_portuario CHAR(80),
  tipo_da_autoridade_portuaria CHAR(80),
  data_atracacao CHAR(80),
  data_chegada CHAR(80),
  data_desatracacao CHAR(80),
  data_inicio_operacao CHAR(80),
  Data_Termino_Operacao CHAR(80),
  Ano INT,
  Mes CHAR(80),
  Tipo_de_Operacao CHAR(80),
  Tipo_de_Navegacao_da_Atracacao CHAR(80),
  Nacionalidade_do_Armador CHAR(80),
  FlagMCOperacaoAtracacao INT,
  Terminal CHAR(80),
  Municipio CHAR(80),
  UF CHAR(80),
  SGUF CHAR(80),
  Regiao_Geografica CHAR(80),
  No_da_Capitania CHAR(80),
  No_do_imo CHAR(20)
  );
"""
connection = create_db_connection("localhost", "root", pw, "FIEC")
execute_query(connection, query_criar_tabela_atracacao)

In [ ]:
query_atracacao='''
LOAD DATA INFILE 'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/atracacao/2017Atracacao.txt' 

INTO TABLE Atracacao2017

FIELDS TERMINATED BY ';'

LINES TERMINATED BY '\n'

IGNORE 1 LINES

(id_atracacao,cdtup,IDBerco,Berco,Porto_Atracacao,Apelido_Instalacao_Portuaria,Complexo_Portuario,Tipo_da_Autoridade_Portuaria,Data_Atracacao,Data_Chegada,Data_Desatracacao,Data_Inicio_Operacao,Data_Termino_Operacao,Ano,Mes,Tipo_de_Operacao,Tipo_de_Navegacao_da_Atracacao,Nacionalidade_do_Armador,FlagMCOperacaoAtracacao,Terminal,Municipio,UF,SGUF,Regiao_Geografica, @vNo_da_Capitania,No_do_imo)

SET No_da_Capitania = NULLIF(@vNo_da_Capitania,'');

'''

connection = create_db_connection("localhost", "root", pw, "FIEC")
execute_query(connection, query_atracacao)

In [ ]:
query_atracacao='''
SELECT * FROM atracacao2017;

'''

connection = create_db_connection("localhost", "root", pw, "FIEC")
execute_query2(connection, query_atracacao)

In [ ]:
query_criar_tabela_atracacao="""
CREATE TABLE atracacao2018 (
  id_atracacao INT,
  cdtup CHAR(80),
  idberco CHAR(80),
  berco CHAR(80),
  porto_atracacao VARCHAR(100),
  apelido_instalacao_portuaria CHAR(80),
  complexo_portuario CHAR(80),
  tipo_da_autoridade_portuaria CHAR(80),
  data_atracacao CHAR(80),
  data_chegada CHAR(80),
  data_desatracacao CHAR(80),
  data_inicio_operacao CHAR(80),
  Data_Termino_Operacao CHAR(80),
  Ano INT,
  Mes CHAR(80),
  Tipo_de_Operacao CHAR(80),
  Tipo_de_Navegacao_da_Atracacao CHAR(80),
  Nacionalidade_do_Armador CHAR(80),
  FlagMCOperacaoAtracacao INT,
  Terminal CHAR(80),
  Municipio CHAR(80),
  UF CHAR(80),
  SGUF CHAR(80),
  Regiao_Geografica CHAR(80),
  No_da_Capitania CHAR(80),
  No_do_imo CHAR(80)
  );
"""
connection = create_db_connection("localhost", "root", pw, "FIEC")
execute_query(connection, query_criar_tabela_atracacao)

In [ ]:
query_atracacao='''
LOAD DATA INFILE 'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/atracacao/2018Atracacao.txt' 

INTO TABLE atracacao2018

FIELDS TERMINATED BY ';'

LINES TERMINATED BY '\n'

IGNORE 1 LINES

(id_atracacao,cdtup,IDBerco,Berco,Porto_Atracacao,Apelido_Instalacao_Portuaria,Complexo_Portuario,Tipo_da_Autoridade_Portuaria,Data_Atracacao,Data_Chegada,Data_Desatracacao,Data_Inicio_Operacao,Data_Termino_Operacao,Ano,Mes,Tipo_de_Operacao,Tipo_de_Navegacao_da_Atracacao,Nacionalidade_do_Armador,FlagMCOperacaoAtracacao,Terminal,Municipio,UF,SGUF,Regiao_Geografica, @vNo_da_Capitania,No_do_imo)
SET No_da_Capitania = NULLIF(@vNo_da_Capitania,'');

'''

connection = create_db_connection("localhost", "root", pw, "FIEC")
execute_query(connection, query_atracacao)

In [ ]:
query_atracacao='''
SELECT * FROM atracacao2018;

'''

connection = create_db_connection("localhost", "root", pw, "FIEC")
execute_query2(connection, query_atracacao)

In [ ]:
query_criar_tabela_atracacao="""
CREATE TABLE atracacao2019 (
  id_atracacao INT,
  cdtup CHAR(80),
  idberco CHAR(80),
  berco CHAR(80),
  porto_atracacao VARCHAR(100),
  apelido_instalacao_portuaria CHAR(80),
  complexo_portuario CHAR(80),
  tipo_da_autoridade_portuaria CHAR(80),
  data_atracacao CHAR(80),
  data_chegada CHAR(80),
  data_desatracacao CHAR(80),
  data_inicio_operacao CHAR(80),
  Data_Termino_Operacao CHAR(80),
  Ano INT,
  Mes CHAR(80),
  Tipo_de_Operacao CHAR(80),
  Tipo_de_Navegacao_da_Atracacao CHAR(80),
  Nacionalidade_do_Armador CHAR(80),
  FlagMCOperacaoAtracacao INT,
  Terminal CHAR(80),
  Municipio CHAR(80),
  UF CHAR(80),
  SGUF CHAR(80),
  Regiao_Geografica CHAR(80),
  No_da_Capitania CHAR(80),
  No_do_imo CHAR(80)
  );
"""
connection = create_db_connection("localhost", "root", pw, "FIEC")
execute_query(connection, query_criar_tabela_atracacao)

In [ ]:
query_atracacao='''
LOAD DATA INFILE 'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/atracacao/2019Atracacao.txt' 

INTO TABLE atracacao2019

FIELDS TERMINATED BY ';'

LINES TERMINATED BY '\n'

IGNORE 1 LINES

(id_atracacao,cdtup,IDBerco,Berco,Porto_Atracacao,Apelido_Instalacao_Portuaria,Complexo_Portuario,Tipo_da_Autoridade_Portuaria,Data_Atracacao,Data_Chegada,Data_Desatracacao,Data_Inicio_Operacao,Data_Termino_Operacao,Ano,Mes,Tipo_de_Operacao,Tipo_de_Navegacao_da_Atracacao,Nacionalidade_do_Armador,FlagMCOperacaoAtracacao,Terminal,Municipio,UF,SGUF,Regiao_Geografica, @vNo_da_Capitania,No_do_imo)
SET No_da_Capitania = NULLIF(@vNo_da_Capitania,'');

'''

connection = create_db_connection("localhost", "root", pw, "FIEC")
execute_query(connection, query_atracacao)

In [ ]:
query_atracacao='''
SELECT * FROM atracacao2019;

'''

connection = create_db_connection("localhost", "root", pw, "FIEC")
execute_query2(connection, query_atracacao)

In [ ]:
query_criar_tabela_tempo="""
CREATE TABLE tempo2017 (
  id_atracacao INT,
  T_espera_atracacao DECIMAL,
  T_espera_inicio_op DECIMAL,
  T_operacao DECIMAL,
  T_espera_desatracacao DECIMAL,
  T_atracado DECIMAL,
  T_estadia DECIMAL
  );
"""
connection = create_db_connection("localhost", "root", pw, "FIEC")
execute_query(connection, query_criar_tabela_tempo)

In [ ]:
query_tempo='''
LOAD DATA INFILE 'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/tempo/2017Tempo.txt' 

INTO TABLE tempo2017

FIELDS TERMINATED BY ';'

LINES TERMINATED BY '\n'

IGNORE 1 LINES;

'''

connection = create_db_connection("localhost", "root", pw, "FIEC")
execute_query(connection, query_tempo)

In [ ]:
query_criar_tabela_tempo="""
CREATE TABLE tempo2018 (
  id_atracacao INT,
  T_espera_atracacao DECIMAL,
  T_espera_inicio_op DECIMAL,
  T_operacao DECIMAL,
  T_espera_desatracacao DECIMAL,
  T_atracado DECIMAL,
  T_estadia DECIMAL
  );
"""
connection = create_db_connection("localhost", "root", pw, "FIEC")
execute_query(connection, query_criar_tabela_tempo)

In [ ]:
query_tempo='''
LOAD DATA INFILE 'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/tempo/2018Tempo.txt' 

INTO TABLE tempo2018

FIELDS TERMINATED BY ';'

LINES TERMINATED BY '\n'

IGNORE 1 LINES;

'''

connection = create_db_connection("localhost", "root", pw, "FIEC")
execute_query(connection, query_tempo)

In [ ]:
query_criar_tabela_tempo="""
CREATE TABLE tempo2019 (
  id_atracacao INT,
  T_espera_atracacao DECIMAL,
  T_espera_inicio_op DECIMAL,
  T_operacao DECIMAL,
  T_espera_desatracacao DECIMAL,
  T_atracado DECIMAL,
  T_estadia DECIMAL
  );
"""
connection = create_db_connection("localhost", "root", pw, "FIEC")
execute_query(connection, query_criar_tabela_tempo)

In [ ]:
query_tempo='''
LOAD DATA INFILE 'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/tempo/2019Tempo.txt' 

INTO TABLE tempo2019

FIELDS TERMINATED BY ';'

LINES TERMINATED BY '\n'

IGNORE 1 LINES;

'''

connection = create_db_connection("localhost", "root", pw, "FIEC")
execute_query(connection, query_tempo)

In [ ]:
query_atracacao='''
SELECT * FROM tempo2019;

'''

connection = create_db_connection("localhost", "root", pw, "FIEC")
execute_query2(connection, query_atracacao)

In [ ]:
query_merge='''
create table atracacao_tempo2017
(
   SELECT 
  tempo2017.id_atracacao  ,
  cdtup  ,
  idberco  ,
  berco  ,
  porto_atracacao,
  apelido_instalacao_portuaria  ,
  complexo_portuario  ,
  tipo_da_autoridade_portuaria  ,
  data_atracacao  ,
  data_chegada  ,
  data_desatracacao  ,
  data_inicio_operacao  ,
  Data_Termino_Operacao  ,
  Ano  ,
  Mes  ,
  Tipo_de_Operacao  ,
  Tipo_de_Navegacao_da_Atracacao  ,
  Nacionalidade_do_Armador  ,
  FlagMCOperacaoAtracacao  ,
  Terminal  ,
  Municipio  ,
  UF  ,
  SGUF  ,
  Regiao_Geografica  ,
  No_da_Capitania  ,
  No_do_imo,
  T_espera_atracacao  ,
  T_espera_inicio_op  ,
  T_operacao  ,
  T_espera_desatracacao  ,
  T_atracado  ,
  T_estadia  
FROM
    atracacao2017,tempo2017
WHERE 
    atracacao2017.id_atracacao = tempo2017.id_atracacao);
'''

connection = create_db_connection("localhost", "root", pw, "FIEC")
execute_query2(connection, query_merge)

In [ ]:
query_merge='''
create table atracacao_tempo2018
(
   SELECT 
  tempo2018.id_atracacao  ,
  cdtup  ,
  idberco  ,
  berco  ,
  porto_atracacao,
  apelido_instalacao_portuaria  ,
  complexo_portuario  ,
  tipo_da_autoridade_portuaria  ,
  data_atracacao  ,
  data_chegada  ,
  data_desatracacao  ,
  data_inicio_operacao  ,
  Data_Termino_Operacao  ,
  Ano  ,
  Mes  ,
  Tipo_de_Operacao  ,
  Tipo_de_Navegacao_da_Atracacao  ,
  Nacionalidade_do_Armador  ,
  FlagMCOperacaoAtracacao  ,
  Terminal  ,
  Municipio  ,
  UF  ,
  SGUF  ,
  Regiao_Geografica  ,
  No_da_Capitania  ,
  No_do_imo,
  T_espera_atracacao  ,
  T_espera_inicio_op  ,
  T_operacao  ,
  T_espera_desatracacao  ,
  T_atracado  ,
  T_estadia  
FROM
    atracacao2018,tempo2018
WHERE 
    atracacao2018.id_atracacao = tempo2018.id_atracacao);
'''

connection = create_db_connection("localhost", "root", pw, "FIEC")
execute_query2(connection, query_merge)

In [ ]:
query_merge='''
create table atracacao_tempo2019
(
   SELECT 
  tempo2019.id_atracacao  ,
  cdtup  ,
  idberco  ,
  berco  ,
  porto_atracacao,
  apelido_instalacao_portuaria  ,
  complexo_portuario  ,
  tipo_da_autoridade_portuaria  ,
  data_atracacao  ,
  data_chegada  ,
  data_desatracacao  ,
  data_inicio_operacao  ,
  Data_Termino_Operacao  ,
  Ano  ,
  Mes  ,
  Tipo_de_Operacao  ,
  Tipo_de_Navegacao_da_Atracacao  ,
  Nacionalidade_do_Armador  ,
  FlagMCOperacaoAtracacao  ,
  Terminal  ,
  Municipio  ,
  UF  ,
  SGUF  ,
  Regiao_Geografica  ,
  No_da_Capitania  ,
  No_do_imo,
  T_espera_atracacao  ,
  T_espera_inicio_op  ,
  T_operacao  ,
  T_espera_desatracacao  ,
  T_atracado  ,
  T_estadia  
FROM
    atracacao2019,tempo2019
WHERE 
    atracacao2019.id_atracacao = tempo2019.id_atracacao);
'''

connection = create_db_connection("localhost", "root", pw, "FIEC")
execute_query2(connection, query_merge)

In [ ]:
query_merge='''
create table atracacao_fato
(
   SELECT *
FROM
    atracacao_tempo2017,atracacao_tempo2018,atracacao_tempo2019)
'''

connection = create_db_connection("localhost", "root", pw, "FIEC")
execute_query2(connection, query_merge)