In [ ]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [ ]:
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [ ]:
pw #senha

In [ ]:
connection = create_server_connection("localhost", "root", pw)

In [ ]:
def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully")
    except Error as err:
        print(f"Error: '{err}'")

In [ ]:
create_database_querry="CREATE DATABASE FIEC"
create_database(connection,create_database_querry)

In [ ]:
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [ ]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
        
    except Error as err:
        print(f"Error: '{err}'")
        
def execute_query2(connection, query):
    cursor = connection.cursor(buffered=True)
    try:
        cursor.execute(query)
        connection.commit()
        row=cursor.fetchone()
        print(row)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")

In [ ]:
query_criar_tabela_atracacao="""
CREATE TABLE carga2017 (
    IDCarga INT,
    id_atracacao INT,
    Origem,
    Destino,
    CDMercadoria INT,
    Tipo_Operacao_da_Carga CHAR(80),
    Carga_Geral_Acondicionamento CHAR(80),
    ConteinerEstado CHAR(80),
    Tipo_Navegacao CHAR(80),
    FlagAutorizacao INT,
    FlagCabotagem INT,
    FlagCabotagemMovimentacao INT,
    FlagConteinerTamanho INT,
    FlagLongoCurso INT,
    FlagMCOperacaoCarga INT,
    FlagOffshore INT,
    FlagTransporteViaInterioir INT,
    Percurso_Transporte_em_vias_Interiores CHAR(80),
    Percurso_Transporte_Interiores CHAR(80),
    STNaturezaCarga CHAR(80),
    STSH2 CHAR(80),
    STSH4 CHAR(80),
    Natureza_da_Carga CHAR(80),
    Sentido CHAR(80),
    TEU INT,
    QTCarga INT,
    VLPesoCargaBruta INT
  );
"""
connection = create_db_connection("localhost", "root", pw, "FIEC")
execute_query(connection, query_criar_tabela_atracacao)

In [ ]:
query_atracacao='''
LOAD DATA INFILE 'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/atracacao/2017Carga.txt' 

INTO TABLE carga2017

FIELDS TERMINATED BY ';'

LINES TERMINATED BY '\n'

IGNORE 1 LINES

(idatracacao,cdtup,IDBerco,Berco,Porto_Atracacao,Apelido_Instalacao_Portuaria,Complexo_Portuario,Tipo_da_Autoridade_Portuaria,Data_Atracacao,Data_Chegada,Data_Desatracacao,Data_Inicio_Operacao,Data_Termino_Operacao,Ano,Mes,Tipo_de_Operacao,Tipo_de_Navegacao_da_Atracacao,Nacionalidade_do_Armador,FlagMCOperacaoAtracacao,Terminal,Municipio,UF,SGUF,Regiao_Geografica, @vNo_da_Capitania)
SET No_da_Capitania = NULLIF(@vNo_da_Capitania,'');

'''

connection = create_db_connection("localhost", "root", pw, "FIEC")
execute_query(connection, query_atracacao)

In [ ]:
query_atracacao='''
SELECT * FROM carga2017;

'''

connection = create_db_connection("localhost", "root", pw, "FIEC")
execute_query2(connection, query_atracacao)

In [ ]:
query_criar_tabela_atracacao="""
CREATE TABLE carga2018 (
    IDCarga INT,
    id_atracacao INT,
    Origem,
    Destino,
    CDMercadoria INT,
    Tipo_Operacao_da_Carga CHAR(80),
    Carga_Geral_Acondicionamento CHAR(80),
    ConteinerEstado CHAR(80),
    Tipo_Navegacao CHAR(80),
    FlagAutorizacao INT,
    FlagCabotagem INT,
    FlagCabotagemMovimentacao INT,
    FlagConteinerTamanho INT,
    FlagLongoCurso INT,
    FlagMCOperacaoCarga INT,
    FlagOffshore INT,
    FlagTransporteViaInterioir INT,
    Percurso_Transporte_em_vias_Interiores CHAR(80),
    Percurso_Transporte_Interiores CHAR(80),
    STNaturezaCarga CHAR(80),
    STSH2 CHAR(80),
    STSH4 CHAR(80),
    Natureza_da_Carga CHAR(80),
    Sentido CHAR(80),
    TEU INT,
    QTCarga INT,
    VLPesoCargaBruta INT
  );
"""
connection = create_db_connection("localhost", "root", pw, "FIEC")
execute_query(connection, query_criar_tabela_atracacao)

In [ ]:
query_atracacao='''
LOAD DATA INFILE 'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/atracacao/2018Carga.txt' 

INTO TABLE carga2018

FIELDS TERMINATED BY ';'

LINES TERMINATED BY '\n'

IGNORE 1 LINES

(idatracacao,cdtup,IDBerco,Berco,Porto_Atracacao,Apelido_Instalacao_Portuaria,Complexo_Portuario,Tipo_da_Autoridade_Portuaria,Data_Atracacao,Data_Chegada,Data_Desatracacao,Data_Inicio_Operacao,Data_Termino_Operacao,Ano,Mes,Tipo_de_Operacao,Tipo_de_Navegacao_da_Atracacao,Nacionalidade_do_Armador,FlagMCOperacaoAtracacao,Terminal,Municipio,UF,SGUF,Regiao_Geografica, @vNo_da_Capitania)
SET No_da_Capitania = NULLIF(@vNo_da_Capitania,'');

'''

connection = create_db_connection("localhost", "root", pw, "FIEC")
execute_query(connection, query_atracacao)

In [ ]:
query_atracacao='''
SELECT * FROM carga2018;

'''

connection = create_db_connection("localhost", "root", pw, "FIEC")
execute_query2(connection, query_atracacao)

In [ ]:
query_criar_tabela_atracacao="""
CREATE TABLE carga2019 (
    IDCarga INT,
    id_atracacao INT,
    Origem,
    Destino,
    CDMercadoria INT,
    Tipo_Operacao_da_Carga CHAR(80),
    Carga_Geral_Acondicionamento CHAR(80),
    ConteinerEstado CHAR(80),
    Tipo_Navegacao CHAR(80),
    FlagAutorizacao INT,
    FlagCabotagem INT,
    FlagCabotagemMovimentacao INT,
    FlagConteinerTamanho INT,
    FlagLongoCurso INT,
    FlagMCOperacaoCarga INT,
    FlagOffshore INT,
    FlagTransporteViaInterioir INT,
    Percurso_Transporte_em_vias_Interiores CHAR(80),
    Percurso_Transporte_Interiores CHAR(80),
    STNaturezaCarga CHAR(80),
    STSH2 CHAR(80),
    STSH4 CHAR(80),
    Natureza_da_Carga CHAR(80),
    Sentido CHAR(80),
    TEU INT,
    QTCarga INT,
    VLPesoCargaBruta INT
  );
"""
connection = create_db_connection("localhost", "root", pw, "FIEC")
execute_query(connection, query_criar_tabela_atracacao)

In [ ]:
query_atracacao='''
LOAD DATA INFILE 'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/atracacao/2019carga.txt' 

INTO TABLE carga2019

FIELDS TERMINATED BY ';'

LINES TERMINATED BY '\n'

IGNORE 1 LINES

(idatracacao,cdtup,IDBerco,Berco,Porto_Atracacao,Apelido_Instalacao_Portuaria,Complexo_Portuario,Tipo_da_Autoridade_Portuaria,Data_Atracacao,Data_Chegada,Data_Desatracacao,Data_Inicio_Operacao,Data_Termino_Operacao,Ano,Mes,Tipo_de_Operacao,Tipo_de_Navegacao_da_Atracacao,Nacionalidade_do_Armador,FlagMCOperacaoAtracacao,Terminal,Municipio,UF,SGUF,Regiao_Geografica, @vNo_da_Capitania)
SET No_da_Capitania = NULLIF(@vNo_da_Capitania,'');

'''

connection = create_db_connection("localhost", "root", pw, "FIEC")
execute_query(connection, query_atracacao)

In [ ]:
query_atracacao='''
SELECT * FROM carga2019;

'''

connection = create_db_connection("localhost", "root", pw, "FIEC")
execute_query2(connection, query_atracacao)

In [ ]:
query_merge='''
create table carga
(
   SELECT *
FROM
    carga2017,carga2018,carga2019
)

'''

connection = create_db_connection("localhost", "root", pw, "FIEC")
execute_query2(connection, query_merge)

In [ ]:
query_merge='''
create table carga
(
   SELECT 
    IDCarga ,
    id_atracacao ,
    Origem,
    Destino,
    CDMercadoria ,
    Tipo_Operacao_da_Carga ,
    Carga_Geral_Acondicionamento ,
    ConteinerEstado ,
    Tipo_Navegacao ,
    FlagAutorizacao ,
    FlagCabotagem ,
    FlagCabotagemMovimentacao ,
    FlagConteinerTamanho ,
    FlagLongoCurso ,
    FlagMCOperacaoCarga ,
    FlagOffshore ,
    FlagTransporteViaerioir ,
    Percurso_Transporte_em_vias_eriores ,
    Percurso_Transporte_eriores ,
    STNaturezaCarga ,
    STSH2 ,
    STSH4 ,
    Natureza_da_Carga ,
    Sentido ,
    TEU ,
    QTCarga ,
    VLPesoCargaBruta ,
    SGUF ,
    ano,
    mes,
    porto_atracacao
FROM
    carga,atracacao_fato
WHERE
    carga.id_atracacao=atracacao_fato.id_atracacao
)

'''

connection = create_db_connection("localhost", "root", pw, "FIEC")
execute_query2(connection, query_merge)